<%= render 'users/user', user: @user %>
<%= render 'books/book', book: @book %>

<h1>Books</h1>
<% @books.each do |book|%>
<div>
  <h2>Image</h2>
  <%= link_to user_path(@user.id) do%>
    <p><%= image_tag book.user.get_profile_image("40x40")%></p>
  <%end%>
  <h2>Title</h2>
    <p><%= link_to book.title, book_path(book.id)%></p>
  <h2>Opinion</h2>
    <p><%= book.opinion%></p>
</div>
<%end%>
